/*!
Theme Name: Tema NOIC
Theme URI: http://underscores.me/
Author: André Hiroshi Koga
Author URI: http://underscores.me/
Description: Created by AHK for NOIC
Version: 1.4.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: tema-noic
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Tema NOIC is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

/* Meus CSS
	 ========================================================================== */

/* Presettings
	 ========================================================================== */

html {
	font-size: calc(0.7rem + 0.4vw);
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
}

article {
	margin: 0 !important;
}

.default-text {
	padding: 5rem 0vw;

	font-family: "Raleway";
}

.center-text {
	text-align: center;
}

.before-scroll {
	opacity: 0;

	transition: 0.2s;
}

.after-scroll {
	opacity: 1;

	transition: 0.7s;
}

.ds {
	user-select: none;
}

.default-link {
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
	border-radius: 100rem;
	color: transparent;
	background-color: transparent;
	outline: none !important;
	margin: 0;
	padding: 0.3rem 0.5rem;
}

.default-link:hover {
	border-color: #EEE;
}

.default-link:focus {
	border-color: #EEE;
}

.default-link:active {
	background-color: #EEE;
}

.no-underline {
	text-decoration: none;
}

.default-link p {
	font-family: "Raleway";
	font-size: 1.05rem;
	font-weight: 500;

	text-transform: lowercase;
	color: black;
	/*text-shadow: 0px 0px 0px black;*/
}

.default-button {
	background-color: none;
	border-radius: 100rem;
	border-width: 1px;
	border-color: transparent;
	border-style: solid;
	background-color: transparent;
	color: transparent;
	outline: none !important;
}

.default-button:hover {
	border-color: #EEE;
}

.default-button:focus {
	border-color: #EEE;
}

.default-button:active {
	background-color: #EEE;
}

p {
	color: black;
}

/* Header
	 ========================================================================== */

.site-header {
	position: relative;
	height: 4rem;
	width: 100%;
	background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));

	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #DFDFDF;

	z-index: 100;

	display: flex;
	flex-direction: row;

	overflow-y: visible;
}

.logo {
	height: 100%;
	width: auto;
	background-color: transparent;
	border: none;

	margin: 0;
	padding: 0.4rem calc(0.5rem + 1.5vw);

	/*filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));*/

	outline: none !important;
	border-radius: 0;

	flex-shrink: 0;

	user-select: none;
}

.logo img {
	height: 100%;
	border: solid;
	border-width: 1px;
	border-color: transparent;
	border-radius: 100rem;
	padding: 0.3rem 0.7rem;
}

.logo:hover img {
	border-color: #EEE;
}

.logo:active img {
	background-color: #EEE;
}

.holder {
	height: 100%;
	width: auto;

	margin-bottom: 0;
	margin-left: auto;
	padding: 0;

	position: relative;

	overflow-x: hidden;
	overflow-y: hidden;

	user-select: none;
}

.site-header ul {
	height: 100%;
	width: 100%;

	margin-bottom: 0;
	margin-left: auto;
	padding: 0rem 0.5rem 0rem 0rem;

	display: flex;
	align-items: center;

	overflow-y: hidden;
	overflow-x: auto;
}

.fade {
	z-index: 1;
	position: absolute;
	top: 0%;
	height: 100%;
	width: 20%;

	pointer-events: none;
}
.in {
	left: 0;
	background: linear-gradient(90deg, white, transparent);
}

.out {
	right: 0;
	background: linear-gradient(90deg, transparent, white);
}

.site-header ul::-webkit-scrollbar {
    width: 0px;
	height: 0px;
    background: transparent; /* make scrollbar transparent */
}

.site-header li {
	margin: 0;
	padding: 0.2rem;

	list-style: none;
}

.site-header li a {
	outline: none !important;
}

.site-header li p {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.site-header .search-form label {
	font-family: "Raleway";
}

input[type="search"] {
	font-family: "Raleway";
	font-weight: 500;
	font-size: 1.05rem;
	color: black;

	border-radius: 100rem 0 0 100rem;
	border-width: 1px;
	border-style: solid;
	border-color: #EEE;
	padding: 0.3rem 0.5rem;
	outline: none !important;

	width: calc(5rem + 10vw);
}

input[type="search"]:focus {
	background-color: #EEE;
}

#search-form {
	display: flex;
	flex-wrap: nowrap;
}

#searchsubmit {
	font-family: "Raleway";
	font-size: 1.05rem;
	font-weight: 600;

	border-radius: 0 100rem 100rem 0;
	border-width: 1px;
	border-color: transparent;

	padding: 0.3rem 1rem 0.3rem 0.7rem;
	background-color: #EEE;
	line-height: inherit;

	outline: none !important;

	cursor: pointer;
}

#searchsubmit:hover {
	border-color: #CCC;
}

#searchsubmit:active {
	background-color: #CCC;
}

/* Dropdown do header */

.dropdown {
	margin: auto 0.5rem auto 0;
	display: flex;
	align-items: center;

	outline: none !important;

	padding: 0.5rem 0.6rem;
}

.dropdown p {
	font-weight: 500;
	font-family: "Raleway";
	line-height: 1.15rem;
	color: #0169CE;
	text-transform: lowercase;
	font-size: 1.05rem;
	flex-shrink: 1;
	text-align: center;
	margin: 0;

	transition: 0.5s;
}

.dropdown:focus {
	background-color: #0169CE;
}

.dropdown:focus .tag {
	color: white;
}

.dropdown:focus .extra-panel {
	display: flex;
	flex-direction: column;
}

.dropdown:active .extra-panel {
	display: flex;
	flex-direction: column;
}

.extra-panel {
	display: none;
	position: absolute;
	top: calc(100% + 0.2rem);
	right: 0;

	z-index: 100;
}

.extra-panel div {
	background-color: white;
	padding: 0.5rem 0.6rem;
	margin: 0.2rem 0.5rem 0.2rem 0;
	border-color: #EEE;
}

.extra-panel p {
	font-size: 1.05rem;
	color: black;
	line-height: 1.15rem;
	white-space: nowrap;
}

/* Footer
	 ========================================================================== */

.site-footer {
	position: relative;
	background-color: #F7F7F7;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: #DFDFDF;

	display: flex;
	align-items: center;
	justify-content: center;
}

.site-footer ul {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 20rem;
}

.footer-center {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 1.5rem 1.5rem 1.5rem;
}

.footer-logo {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 100rem;
	outline: none !important;

	padding: 0.5rem 1rem;
}

.footer-logo img {
	display: flex;
	margin: 0.5rem auto;
	width: 15rem;
}

.footer-logo:hover {
	border-color: #CCC;
}

.footer-logo:active {
	background-color: #CCC;
}

.footer-center .footer-quote {
	font-family: "Raleway";
	font-size: 0.9rem;
	color: black;
	text-align: center;
	margin: 0rem 0rem 0.5rem;
}

.footer-center p {
	font-family: "Roboto";
	font-size: 0.75rem;
	color: #999;
	text-align: center;
	margin: 0.5rem;
}

.social-buttons {
	margin: 0 auto;
}

#atftbx .at-follow-btn {
	outline: none !important;
}

/* 404
	 ========================================================================== */

#id-404 {
	font-family: "Raleway";
	color: black;

	text-align: center;

	min-height: calc(100vh - 4rem);
	margin: 0 3rem;
}

.page-content h1 {
	font-size: 4rem;
	margin: 0;
	padding: calc(1rem + 4vh) 0rem calc(1rem + 1vh);
}

.center-search {
	display: flex;
	padding: calc(1rem + 2vh) 0rem calc(1rem + 5vh);
}

.center-search section {
	margin: 0 auto;
}

.center-search input[type="search"] {
	width: calc(10rem + 25vw);
}

/* Search e Not-found
	 ========================================================================== */

#search-title {
	padding: 0 !important;
	margin: 0rem 0rem 0.5rem;
    line-height: normal;
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.empty-thumbnail {
	float: left;
	width: 25vw;
	height: 10vw;

	margin: 0rem 1.5rem 0.5rem 0rem;
}

#read-more-id p {
	padding: 0.5rem 1rem !important;
	font-weight: 500;
}

#article {
	margin: 3rem 0 !important;
}

.not-found-page-title {
	font-size: 4rem;
	margin: 0;
	padding: calc(1rem + 4vh) 0rem calc(1rem + 1vh);
	text-align: center;
}

.not-found h2 {
	text-align: center;
}

.search-content {
	/*padding:*/
}

.search-content article .post-thumbnail {
	float: left;
	width: 25vw;
	height: 15vw;

	background-size: cover;
	background-position: center;

	margin: 0rem 1.5rem 0.5rem 0rem;
}

.entry-title {
	margin: 0rem 0rem 0.5rem;
	line-height: normal;
	font-size: 2rem;
	font-weight: 600;
	color: black;
}

.entry-header a {
	text-decoration: none;
}

.entry-header a:hover {
	text-decoration: underline;
	text-decoration-color: black;
}

.search-content header {
	font-size: 0.8rem;
	margin: 0;
}

.search-content .entry-summary {
	margin: 0.5rem 0 1.5rem;
}

.entry-summary p {
	margin: 0;
}

#fas-first {
	padding: 0 0.1rem 0 0;
}

.fas {
	font-size: 0.8rem;
	padding: 0 0.1rem 0 0.5rem;
	color: #212121;
}

.entry-data {
	font-size: 0.8rem;
	padding: 0;
}

.entry-separator {
	height: 1px;
	width: 100%;
	background-color: transparent;
	margin: 1.5rem 0rem;
}

.search-title {
	color: black;
	text-align: center;
}

.read-more {
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	display: flex;
	justify-content: flex-end;

	outline: none !important;
}

.read-more p {
	padding: 0.2rem 0.5rem;
	border-radius: 100rem;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.read-more:hover p {
	border-color: #EEE;
}

.read-more:active p {
	background-color: #EEE;
}

/* Calendar
	 ========================================================================== */

.timely {
	padding: 0rem 1.5rem !important;
}

/* Single post
	 ========================================================================== */

.no-img {
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
}

#post-template {
	padding: 5rem;
}

#post-header {
	margin: 0 0 1.5rem 0;
	font-size: 16px;
}

#post-title {
	padding: 0 !important;
	margin: 1rem 0 0.5rem 0;
	font-size: 2em;
}

#post-separator {
	margin: 2rem 0 3rem;
	background-color: #EEE;
}

#post-content {
	font-size: 16px;
}

.comment-post {
	margin: 5rem 0;
}

.comment-post p {
	text-align: center;
	font-style: italic;
	font-weight: 400;
	color: #555;
}

/* Sidebar
	 ========================================================================== */

/* Front Page
	 ========================================================================== */

.slides {
	margin: 0 !important;
	padding: 0 !important;
}

.slider-text {
	padding: 0 !important;
	font-size: 2rem !important;
	font-weight: 600 !important;
}

.default-link p {
	padding: 0 !important;
}

.entry-content {
	margin: 0 0 auto !important;
}

#content {
	position: inherit;
}

/* Tela 1 */

.fullscreen div {
	height: 100% !important;
	user-select: none;
}
.fullscreen .slides {
	height: 100% !important;
}
.fullscreen li {
	height: 100% !important;

	overflow: hidden !important;
}
.fullscreen img {
	-webkit-filter: blur(4px) !important; /* Safari 6.0 - 9.0 */
    filter: blur(4px) !important;
	transform: scale(1.1);
}
.landscape {
	height: auto !important;
	width: 100% !important;
}
.portrait {
	height: 100% !important;
	width: auto !important;
}

.cover {
	z-index: 0;

	background-color: white;
}

.slider-content {
	position: absolute;
	bottom: calc(50% - 2rem);
	right: 50%;

	transform: translate(50%, 50%);
}

.slider-content .slider-text {
	margin: 0;
	padding: 0;
}

.slider-text {
	font-family: "Raleway";
	font-weight: 600;
	color: white;

	text-shadow: 0px 0px 100px black, 0px 0px 5px rgba(0, 0, 0, 1);

	font-size: calc(1rem + 1.5vw);
	text-align: center;

	margin: 0;
	padding: 0;
}

#slider-button {
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	margin: 1rem 0rem;
	padding: 0.25rem 0.7rem;
	background: linear-gradient(90deg, rgba(0, 123, 245, 0.4), rgba(0, 94, 188, 0.4));
}

#slider-button:hover {
	border-color: #004C99;
}

#slider-button:focus {
	border-color: #004C99;
}

#slider-button:active {
	background: linear-gradient(90deg, rgba(0, 123, 245, 0.9), rgba(0, 94, 188, 0.9));
}

#slider-button p {
	font-size: 1.3rem;
	margin: 0;
	padding: 0.1rem;
	color: white;
}

/* Tela 2 */

#diagonal1 {
	position: absolute;

	height: 20rem;
	width: 100rem;

	top: -10vh;
	right: 50%;

	background-color: white;

	transform: translateX(50%) rotate(7deg);

	z-index: 2;
}

#diagonal2 {
	position: absolute;

	height: 20rem;
	width: 100rem;

	top: -10vh;
	right: 45%;

	background-color: rgba(255, 255, 255, 0.5);

	transform: translateX(50%) rotate(10deg);

	z-index: 1;
}

#diagonal3 {
	position: absolute;

	height: 30vh;
	width: 60vw;

	top: -10vh;
	right: 15%;

	background-color: rgba(255, 255, 255, 0.5);

	transform: translateX(50%) rotate(-30deg);

	z-index: 1;
}

#diagonal4 {
	position: absolute;

	height: 30vh;
	width: 80vw;

	top: -10vh;
	right: 15%;

	background-color: white;

	transform: translateX(50%) rotate(-18deg);

	z-index: 1;
}

.screen2 {
	position: relative;

	height: auto;
	background-color: white;

	padding: 6rem 0 6vw;
}

.screen2 h1 {
	margin: 0;
}
.screen2 p {
	margin: 0;
}

.screen2-text {
	position: relative;
	background-color: transparent;
	height: 100%;
	width: 100vw;

	z-index: 11;
}

.screen2-text h1 {
	margin: 0rem;

	text-align: center;
	font-family: "Raleway";
	font-size: calc(1rem + 2vw);
	font-weight: 900;
	color: black;

	z-index: 12;
}

.bubbles {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

	padding: 2rem 4rem 0rem;
}

.bubbles h1 {
	margin: 0rem;

	text-align: center;
	font-family: "Raleway";
	font-size: calc(1.5rem + 1vw);
	font-weight: 600;
	color: black;
}

.bubbles p {
	margin: 0rem;

	font-family: "Raleway";
	font-size: 1.2rem;
	font-weight: 400;
	color: black;
}

.bubbles a {
	position: relative;

	flex-grow: 1;
	flex-shrink: 0;

	flex-basis: 25rem;

	text-decoration: none;

	padding: 1rem;

	outline: none !important;

	transition: 0.4s;

	z-index: 11;
}

.button-panel h1 {
	position: absolute;
	text-align: center;
	color: black;
	bottom: 50%;
	right: 50%;
	transform: translate(50%, 50%);

	overflow: hidden;
}

.button-panel {
	background-color: white;
	position: absolute;
	height: calc(100% - 0.8rem);
	width: calc(100% - 0.8rem);

	bottom: 200%;
	right: 50%;
	transform: translate(50%, 50%);

	transition: 0.4s;
	border-radius: 100rem;
	opacity: 1;
}

.bubbles a:hover .button-panel {
	bottom: 50%;
}

.bubbles a:active {
	transform: scale(0.97);

	transition: 0s;
}

.bubbles a div p {
	position: absolute;
	right: 50%;
	bottom: 50%;
	transform: translate(50%, 50%);

	width: 70%;

	text-align: center;
	color: white;
	mix-blend-mode: difference;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.7);
	font-size: 1.15rem;
	font-weight: 500;
}

.holder {
	border-width: 0;
}

#id-olimpiadas .holder {
	background: url("https://images.unsplash.com/photo-1511406471420-feeac25c74c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=399&q=80");
	background-size: cover;
	background-position: center;
	border-radius: 100rem;
	height: 9rem;
}

#id-itaime .holder {
	background: url("https://images.unsplash.com/photo-1505246053330-ecd82cf55f18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
	background-size: cover;
	background-position: center;
	border-radius: 100rem;
	height: 9rem;
}

#id-jornal .holder {
	background: url("https://images.unsplash.com/photo-1528297506728-9533d2ac3fa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
	background-size: cover;
	background-position: center;
	border-radius: 100rem;
	height: 9rem;
}

#id-quemsomos .holder {
	background: url("https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"), url("https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
	background-blend-mode: multiply;
	background-size: cover;
	background-position: 50% 75%;
	border-radius: 100rem;
	height: 9rem;
}

/* Tela 3 */

#circle1 {
	position: absolute;
	height: 100rem;
	width: 140rem;

	right: 50%;
	top: -90rem;

	border-radius: 0% 0% 100% 100%;
	background-color: white;

	transform: translateX(50%);

	z-index: 1;
}

.screen3 {
	position: relative;

	overflow: hidden;

	background-color: #F7F7F7;
	/*background-image: radial-gradient(#FAFAFA 40%, transparent 40.5%), radial-gradient(#FAFAFA 40%, transparent 40.5%);
	background-position: 0 0, 12.5vmax 12.5vmax;
	background-size: 25vmax 25vmax;
	background-repeat: repeat;*/

	padding: 12rem 0 8rem;
}

.screen3 h1 {
	width: 100%;
	margin: 0rem;

	text-align: center;
	font-family: "Raleway";
	font-size: calc(1rem + 2vw);
	font-weight: 900;
	color: black;

	z-index: 16;
}

.screen3 p {
	font-size: 1.15rem;
}

.subjects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0rem 2rem;
}

.subjects li {
	flex-basis: 20rem;
	flex-grow: 1;
	flex-shrink: 0;
	list-style: none;
	padding: 0.75rem;
}

.subjects a {
	width: 100%;
	height: 100%;
	padding: 2rem 1rem;
	border-radius: 100rem;
	border-width: 0;
	text-decoration: none;
	outline: none !important;

	display: block;

	background-position: center;
	background-size: 100% auto;

	transition: 0.5s;
}

.subjects a:hover {
	padding: calc(2rem - 5px) calc(1rem - 5px);
	border-style: solid;
	border-width: 5px;
	border-color: rgba(0, 0, 0, 0.4);
}

.subjects a:active {
	transform: scale(0.97);

	transition: 0s;
}

.subjects p {
	text-align: center;
	margin: 0;
	font-family: "Raleway";
	font-size: 1.15rem;
	font-weight: 600;
	color: white;
	text-shadow: 1px 1px 0px black;
	white-space: nowrap;
}

/* Tela 4 */

.screen4 {
	background: linear-gradient(45deg, #1C1C1C, #322728);
	position: relative;

	padding: 5rem 2rem;

	height: auto;
	width: 100%;

	z-index: 1;
}

.screen4 h1 {
	width: 100%;
	margin: 0rem;

	text-align: center;
	font-family: "Raleway";
	font-size: calc(1rem + 2vw);
	font-weight: 900;
	color: white;

	z-index: 16;
}

.screen4 p {
	font-size: 1.15rem;
	color: white;
	font-weight: 400;
}

.boards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
}

.screen4-board {
	border-radius: 4rem;
	margin: 1rem;

	flex-basis: 20rem;
	flex-grow: 1;
	flex-shrink: 1;
	overflow: hidden;

	box-shadow: 0px 0px 3rem rgba(0, 0, 0, 0.8);

	transition: 0.5s;
}

.extra-text {
	background-color: rgba(0, 0, 0, 0.7);
	height: 100%;
	width: 100%;
}

.extra-text p {
	font-family: "Raleway";
	font-size: 1.15rem;
	font-weight: 400;
	padding: 2.5rem;
	margin: 0;
}

.screen4-board a {
	text-decoration: none;
}

.screen4-board .board-title {
	font-family: "Raleway";
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 600;
	color: white;
	margin: 0;
	padding: 3rem;

	white-space: nowrap;
}

.board-title:hover {
	text-decoration: none;
}

#board1 {
	background: linear-gradient(90deg, #0B6081, #0169CE);
}
#board2 {
	background: linear-gradient(90deg, #C98B2F, #EBB633);
}
#board3 {
	background: linear-gradient(90deg, #D7363E, #F82C2C);
}

/* Tela 5 */

.screen5 {
	position: relative;
	background: url("/wp-content/themes/tema-noic/images/parkII.jpg"), linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.0));
	background-blend-mode: overlay;
	background-size: cover;
	background-position: left;
	background-attachment: fixed;

	padding: 5rem 2rem 8rem;
}

.screen5 h1 {
	width: 100%;
	margin: 0rem;

	text-align: center;
	font-family: "Raleway";
	font-size: calc(1rem + 2vw);
	font-weight: 900;
	color: white;

	z-index: 16;
}

.screen5 p {
	font-size: 1.15rem;
	font-weight: 400;
	color: white;
	margin: 1rem 0rem 5rem;
}

.screen5 .screen5-number {
	font-family: "Raleway";
	font-size: 1.3rem;
	font-weight: 600;
	text-align: center;
	margin: 0;
}

.screen5 .screen5-number span {
	font-size: calc(1.5rem + 2.5vw);
	font-weight: 900;
	line-height: normal;
	text-align: center;
	margin: 0;
}

.mural {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.mural-post {
	flex-grow: 1;
	flex-shrink: 1;

	padding: 2rem 3rem;
	margin: 1rem;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 100rem;
}

/* Tela 6 */

.screen6 {
	position: relative;
	padding: 5rem 2rem;

	overflow: hidden;

	background-color: white;
}

.screen6 h1 {
	width: 100%;
	margin: 0rem;

	text-align: center;
	font-family: "Raleway";
	font-size: calc(1rem + 2vw);
	font-weight: 900;
	color: black;

	z-index: 16;
}

.screen6 p {
	font-size: 1.15rem;
	font-weight: 400;
	color: black;
	margin: 1rem 0rem;
}

.screen6 .quote {
	font-family: "Raleway";
	font-size: 1.15rem;
	font-weight: 400;
	font-style: italic;
	color: #999;

	padding: 4rem calc(1rem + 9vw) calc(4rem + 3vw);
}

.circle {
	position: absolute;
	border-radius: 100rem;
	mix-blend-mode: multiply;
}

#circle2 {
	height: calc(5rem + 15vw);
	width: calc(5rem + 15vw);
	background-color: #0169CE;

	top: calc(2rem + 4vw);
	right: calc(1rem + 4vw);

	transform: translate(50%, -50%);
}
#circle3 {
	height: calc(4rem + 10vw);
	width: calc(4rem + 10vw);
	background-color: #EBB633;

	top: calc(1rem + 3vw);
	right: calc(3rem + 14vw);

	transform: translate(50%, -50%);
}
#circle4 {
	height: calc(10rem + 18vw);
	width: calc(10rem + 18vw);
	background-color: #F82C2C;

	top: 0rem;
	left: 0;

	transform: translate(-50%, -50%);
}
#circle5 {
	height: calc(4rem + 12vw);
	width: calc(4rem + 12vw);
	background-color: #322728;

	bottom: 1rem;
	left: calc(1rem + 1vw);

	transform: translate(-50%, 50%);
}
#circle6 {
	height: calc(5rem + 15vw);
	width: calc(5rem + 15vw);
	background-color: #0169CE;

	bottom: calc(1rem + 2vw);
	left: calc(4rem + 12vw);

	transform: translate(-50%, 50%);
}
#circle7 {
	height: calc(2rem + 4vw);
	width: calc(2rem + 4vw);
	background-color: #F82C2C;

	bottom: calc(2rem + 5vw);
	left: calc(6rem + 18vw);

	transform: translate(-50%, 50%);
}
#circle8 {
	height: calc(4rem + 10vw);
	width: calc(4rem + 10vw);
	background-color: #EBB633;

	bottom: calc(-1rem - 2vw);
	right: calc(10rem + 20vw);

	transform: translate(50%, 50%);
}
#circle9 {
	height: calc(7rem + 14vw);
	width: calc(7rem + 14vw);
	background-color: #322728;

	bottom: calc(0.5rem + 1vw);
	right: calc(4rem + 14vw);

	transform: translate(50%, 50%);
}
#circle10 {
	height: calc(5rem + 12vw);
	width: calc(5rem + 12vw);
	background-color: #F82C2C;

	bottom: calc(6vh - 2vw);
	right: calc(1rem + 1vw);

	transform: translate(50%, 50%);
}
#circle11 {
	height: calc(1rem + 3vw);
	width: calc(1rem + 3vw);
	background-color: #322728;

	bottom: calc(2rem + 2vw);
	right: 67%;

	transform: translate(50%, 50%);
}
#circle12 {
	height: calc(2rem + 4vw);
	width: calc(2rem + 4vw);
	background-color: #EBB633;

	top: calc(2rem + 6vw);
	right: 80%;

	transform: translate(50%, -50%);
}
#circle13 {
	height: calc(10rem + 30vw);
	width: calc(10rem + 30vw);
	background-color: #0169CE;

	top: calc(-4rem - 11vw);
	right: 65%;

	transform: translate(50%, -50%);
}

/* Páginas
	 ========================================================================== */

.page #page-template {
	padding: 0 0 6rem;
}

.site-content {
	min-height: calc(100vh - 4rem);

	position: relative;

	/* Presettings */

	font-family: "Raleway";
	color: black;
}

.page-banner {
	top: 0;
	width: 100%;
	height: auto;

	padding: calc(2rem + 8vw);
	margin: 0 0 5rem;

	background-size: cover;
	background-position: center;
	user-select: none;

	display: flex;
	align-items: center;
	justify-content: center;

	max-height: calc(100vh - 10rem);
}

.page-template .page-title, .page-title {
	position: relative;

	padding: 1rem 2rem !important;

	text-align: center;
	color: gray;

	font-weight: 900;
	font-size: calc(2.5rem + 1vw);

	background-color: white;
	border-radius: 100rem;

	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.7);

	mix-blend-mode: hard-light;
}

.page-buttons {
	user-select: none;
	padding: 2rem 0rem;
}

.page-template {
	font-size: calc(16px); /*Default*/
	color: black;
}

.type-page .wp-block-image, .type-page p, .type-page h2, .type-page h3, .type-page h4, .type-page h5, .type-page h6, .page-gallery, .page-buttons {
	padding: 0 calc(20vw);
}

table h1, table h2, table h3, table h4, table h5, table h6, table p, table td {
	padding: 0rem !important;
	text-align: left;
}

.type-page .page-buttons ul {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0 !important;
	flex-grow: 1;

	flex-wrap: wrap;
	justify-content: center;
}

.type-page .page-buttons ul li {
	list-style: none;
	display: flex;
	padding: 0.5rem;
	flex-grow: 1;
}

.type-page .page-buttons ul li a {
	text-decoration: none;
	color: white;
	font-weight: 500;

	text-align: center;
	background: linear-gradient(90deg, #1C1C1C, #322728);
	border-radius: 100rem;
	padding: 0.5rem 1rem;
	flex-grow: 1;

	transition: 0.3s;
}

.type-page .page-buttons ul li a:hover {
	transform: scale(0.95);
}

.type-page .page-buttons ul li a:active {
	transform: scale(0.85);
	transition: 0s;
}

.entry-title {
	line-height: normal;
	font-size: 2.2em;
}
.type-page h2 {
	line-height: normal;
	font-size: 2em;
}
.type-page h3 {
	line-height: normal;
	font-size: 1.4em;
}
.type-page p, .type-page ul, .type-page ol {
	line-height: 1.75em;
	font-size: 1em;
	font-weight: 400;
}

.type-page ul, .type-page ol {
	margin: 0;
	padding: 0 20vw 0 calc(20vw + 1rem + 3vw);
}

.type-page ul ul, .type-page ol ul, .type-page ul ol, .type-page ol ol {
	margin: 0;
	padding: 0 0 0 calc(1rem + 3vw);
}

.page-gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#pequena .pessoa {
	min-width: 10rem;
	max-width: 223.89px;
}

.pessoa {
	position: relative;

	flex-grow: 1;
	flex-shrink: 0;

	height: 0;
	min-width: 16rem;
	max-width: 300px;
	margin: 1.5rem;
	overflow: hidden;

	border-radius: 100rem;

	background-color: #EEE;
	background-size: cover;
	background-position: center;

	transition: 0.7s;

	user-select: none;
}

.pessoa:hover {
	border-radius: 2rem;
}

.pessoa-titulo {
	position: absolute;
	text-align: center;
	bottom: 25%;
	right: 50%;
	transform: translate(50%, 50%);
	margin: 0;
	padding: 1rem;

	background-color: rgba(255, 255, 255, 0.2);

	transition: 0.5s;

	font-size: 1rem;

	white-space: nowrap;

	border-radius: 100rem;

	color: white;
	text-shadow: 0px 1px 2px black;
}

#pequena .pessoa-titulo {
	bottom: 30%;
}

.pessoa-titulo span {
	font-weight: 600;
	text-decoration: underline;
}

.pessoa:hover .pessoa-titulo {
	background-color: transparent;
	color: transparent;
	text-shadow: 0px 1px 2px transparent;
}

.page-gallery p, .page-gallery h1 {
	padding: 0.3rem 1rem !important;
}

.page-gallery .pessoa-descricao {
	padding: 1rem !important;
}

.pessoa-descricao {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 1rem;
	color: transparent;

	overflow-y: hidden;
	overflow-x: hidden;

	width: 100%;
	height: 100%;

	border-radius: 100rem;
	border-color: transparent;
	border-width: 1px;
	border-style: solid;

	transition: 0.5s;
}

.pessoa-descricao span {
	font-weight: 400;
}
.pessoa:hover .pessoa-descricao {
	overflow-y: auto;

	border-radius: 2rem;
	border-color: #CCC;
	background-color: rgba(255, 255, 255, 0.97);
	color: black;
}

/* Page template
	 ========================================================================== */

.sp-wrap p {
	padding: 0 !important;
}

.page-template .entry-title {
	display: none;
}

.entry-title {
	font-weight: 700;
}

/* Termina aqui
	 ========================================================================== */


html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover, a:focus, a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
